<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <add key="MqIp" value="10.125.6.1"/>
    
    <add key="DevId" value="6c9381c7d613e214"/>

    <!--格式 2020-03-19 00:00:00-->
    <add key="SDate" value="2020-06-11 00:00:00"/>
    
  </appSettings>
</configuration>