<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>

    <add key="MqIp" value="192.168.1.56"/>
    
    <add key="DevId" value="9765d2780cfdbb8e"/>

    <!--格式 2020-03-19 00:00:00-->
    <add key="SDate" value="2020-05-27 00:00:00"/>
    
  </appSettings>
</configuration>