<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target xsi:type="Console"
                       name="c"
                       layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=ToString}"
                   />

    <target xsi:type="File" name="n" fileName="${basedir}/logs/log.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
            archiveFileName="${basedir}\logs\Archives\log.{#}.log"
		        archiveNumbering="Date"
		        archiveEvery="Day"
		        archiveDateFormat="yyyyMMdd"
		        encoding="utf-8"
		        maxArchiveFiles="30"
            />
    <target xsi:type="File" name="c" fileName="${basedir}/logs/trace.log"
            layout="${longdate} ${uppercase:${level}} ${message}"
            archiveFileName="${basedir}\logs\Archives\log.{#}.log"
		        archiveNumbering="Date"
		        archiveEvery="Day"
		        archiveDateFormat="yyyyMMdd"
		        encoding="utf-8"
		        maxArchiveFiles="30"
            />
    <target xsi:type="File" name="e" fileName="${basedir}/logs/error.log"
            layout="${longdate} ${uppercase:${level}} ${message}  ${exception:format=ToString} - ${stacktrace}"
            archiveFileName="${basedir}\logs\Error\log.{#}.log"
		        archiveNumbering="Date"
		        archiveEvery="Day"
		        archiveDateFormat="yyyyMMdd"
		        encoding="utf-8"
		        maxArchiveFiles="30"
            />

    <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="dante@bossinfo.com.tw"
            smtpPassword="pass@word9"
            enableSsl="true"
            html="true"
            encoding="UTF-8"
            addNewLines="true"
            from="dante@bossinfo.com.tw"
            to="dante@bossinfo.com.tw"
            subject="[博識資訊] 開發機 客戶端檢驗結果下載排程發生錯誤 ${machinename} 於 ${shortdate} ${time}"
            body="${newline}錯誤訊息:${message}${newline}詳細錯誤資訊:${exception:format=ToString} - ${stacktrace}${newline}" />
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Info" writeTo="n" />
    <logger name="*" minlevel="Trace" writeTo="c" />
    <logger name="*" minlevel="Error" writeTo="e" />
    <!--<logger name="*" minlevel="Error" writeTo="gmail" />-->
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
